body {
	background-color: grey;
	padding: 0 2em;
}
.lvl_quad {
	display: inline-block;
	width: 75px;
	height: 75px;
	background-size: 200%;
	padding: 0;
	margin: 0;
}
.ne .lvl_quad {
	background-position: 100% 0;
}
.sw .lvl_quad {
	background-position: 0 100%;
}
.se .lvl_quad {
	background-position: 100% 100%;
}

/*smaller squares*/
/*.lvl_quad {
	width: 30px;
	height: 30px;
}*/

.quadgrid {
	display: inline-block;
}
.quadsholder {
	background-color: rgba(0,0,0,0.25);
	display: inline-block;
	border: 2px solid black;
}
.slideshowholder {
	display: inline-block;
	margin: 0 300px;
	white-space: nowrap;
	vertical-align: top;
}

.levelviewholder {
	display: inline-block;
	margin: 5px;
	vertical-align: top;
}

#buttonholder {
	display: inline-block;
	vertical-align: top;
}