body {
	font-family: sans-serif;
	background-color: #bbb;
	padding: 0 2em;
}
.quadcell {
	display: inline-block;
	width: 75px;
	height: 75px;
	background-size: 200%;
	padding: 0;
	margin: 0;
	transition: opacity 250ms;
}
.quadcell.highlightCell {
	opacity: .5;
}
.ne .quadcell {
	background-position: 100% 0;
}
.sw .quadcell {
	background-position: 0 100%;
}
.se .quadcell {
	background-position: 100% 100%;
}
.quadcell.clickable {
	cursor: pointer;
}

/*smaller squares*/
/*.quadcell {
	width: 30px;
	height: 30px;
}*/

.quadgrid {
	display: inline-block;
}

.slideshowholder {
	vertical-align: top;
}

.levelviewholder {
	display: inline-block;
	margin: 5px;
	vertical-align: top;
	white-space: nowrap;
}

.levelwrapper {
	white-space: nowrap;
}

.piecelistholder img {
	margin: 1em;
}

#buttonholder {
	display: flex;
	padding-bottom: 1em;
	margin: 1em 0;
	flex-wrap: wrap;
}


@media (max-width : 667px) {
	body {
		padding: 5px;
		margin: 0;
	}
}